[submodule "Base"]
	path = Base
	url = https://github.com/MoomFE-Starter-Template/Base.git
[submodule "Base - Naive UI"]
	path = Base - Naive UI
	url = https://github.com/MoomFE-Starter-Template/Base-Naive-UI.git
[submodule "Mobile"]
	path = Mobile
	url = https://github.com/MoomFE-Starter-Template/Mobile.git
[submodule "Web-Components-Editor"]
	path = Web-Components-Editor
	url = https://github.com/MoomFE-Starter-Template/Web-Components-Editor.git
[submodule "Admin"]
	path = Admin
	url = https://github.com/MoomFE-Starter-Template/Admin.git
