{
  "extends": "@moomfe",
  "overrides": [
    {
      "files": ["src/web-components/**/*.vue"],
      "rules": {
        "quotes": "off",
        "@typescript-eslint/quotes": "off"
      }
    }
  ]
}